<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yafoo.tansu2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_tansu"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main activity -->
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.AppRegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.NotificationBoxActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activity.RegisteredAppListActivity"
            android:label="@string/app_name" />

        <activity android:name=".Activity.KeywordRegisterActivity"
            android:label="@string/app_name" />

        <!-- Notification-Listener-Service -->
        <service
            android:name=".Service.MyNotificationListener"
            android:label="@string/service_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activity.TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>